<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>title</key>
					<dict>
						<key>fr</key>
						<string>Mise à jour majeure de l'ordinateur</string>
						<key>en</key>
						<string>Major update of the computer</string>
					</dict>
					<key>script</key>
					<string>com.github.darkomen78.hello-it.major-update.sh</string>
					<key>optionalDisplay</key>
					<true/>
				</dict>
			</dict>
</plist>
